<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/profile']" shape="round" slot="end">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    <ion-title>
      Know It All
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Know It All</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3>Ready for trivia, {{ username }}?</h3>

  <ion-card color="warning" class="trivia-navigation" [routerLink]="['/general-trivia']">
  <ion-card-header>
    <ion-card-title>General Trivia</ion-card-title>
    <ion-card-subtitle>Try out your general knowledge of everything!</ion-card-subtitle>
  </ion-card-header>
</ion-card>
</ion-content>
